auto-install-peers=true
strict-peer-dependencies=false
save-exact=true
engine-strict=true
resolution-mode=highest
loglevel=error
package-manager=pnpm@10.2.1
prefer-workspace-packages=true
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@prettier/plugin-*
public-hoist-pattern[]=*prettier-plugin-*
